
/.ipynb_checkpoints
/cvpr2019AuthorKit
/data
/data2
cvpr2019AuthorKit (1).zip
MCS 7224-Project Examination.pdf
read-me.txt

/deeplearning-model/.ipynb_checkpoints
/deeplearning-model/data
/deeplearning-model/logs
/deeplearning-model/saved-model
/naivebayes-classifier/.ipynb_checkpoints
/naivebayes-classifier/__pycache__